@font-face {
    font-family: "Entypo";
    src: url(../fonts/Entypo.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ubuntu";
    src: url(../fonts/Ubuntu-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PT_Sans-Web-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "PT Sans bold";
    src: url(../fonts/PT_Sans-Web-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Nexa Regular";
    src: url(../fonts/NexaRegular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}  

@font-face {
    font-family: "Nexa Bold";
    src: url(../fonts/Nexa-Black.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Cabin";
    src: url(../fonts/Cabin-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}  

@font-face {
    font-family: "Belinda";
    src: url(../fonts/belinda.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}  

